.headerDiv {
    background-color: #6c747d;
    display: flex;
}

.headerLogo {
    margin: 0.8vw;
    flex: 2;
}

.middleHeaderDiv {
    flex: 10;
}


.dropdownDiv {
    flex: 100;
    display: flex;
}

.dropdownButton {
    flex: 1;
    height:fit-content;
    margin-top: 2.5%;
    background-color: #173f72;
    border: none;
    font-size: medium;
    color: white;
}

.dropdownFiller {
    flex: 6;
}

.dropdownLabel {
    display: flex;
    flex: 1;
    height:fit-content;
    margin-top: 2.5%;
    background-color: #173f72;
    border: none;
    font-size: medium;
    color: white;
}

.headerAnchor {
    margin-right: 7%;
    display: inline-block;
    /* flex: 0.4; */
    width: fit-content;
    height:fit-content;
    background-color: #6c747d;
    border: none;
    font-size: medium;
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 170%;
    font-family: "Montserrat", serif;
}

.patientsAnchor {
    left:1vw;
}

.consultationsAnchor {
    left: 2vw;
}

.reportsAnchor {
    left: 3vw;
}

.dropdownSelect {
    flex: 1;
    height:fit-content;
    background-color: #173f72;
    border: none;
    font-size: medium;
    color: white;
    margin-right: 100%;
}

.dullOption {
    display: none;
}

.website-name-par {
    font-size: 170%;
    margin-left: 7%;
    color: white;
    font-family: "Montserrat", serif;
}

.left-header-div {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightHeaderDiv {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}