.popup {
    visibility: hidden;
    position: fixed;
    cursor: pointer;
}


.popup .popuptext {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
}

.default-popup-button{
    font-family: "Montserrat", serif;
    font-size: 150%;
    color: black;
    background-color: white;
    border: none;
}
.confirm:hover {
    border: #00a28a 1px solid;
    border-radius: 10px;
}
.cancel:hover {
    border: #ea6759 1px solid;
    border-radius: 10px;
}

.default-popup-text-size{
    font-size: 150%;
}

.font{
    font-family: "Montserrat", serif;
    color: black;
}

.popup-header-default{
    font-size: 200%;
}

.popup-span-default{
    background-color: white;
    box-shadow: 0 0 0 1px rgba(20,20,31,.05),0 2px 7px 1px rgba(20,20,31,.16);
    border-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 80%;
}

#new-group-name{
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
    font-family: "Montserrat", serif;
}

#new-name{
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
    font-family: "Montserrat", serif;
}

#new-popup-div #create-popup-span{
    left: 15%;
    top: 15%;
    width: 70%;
    height: 40%;
}

#delete-popup-div #delete-popup-span{
    background-color: white;
    left: 35%;
    top: 15%;
    width: 30%;
    height: 15%;
}

#redact-popup-div #redact-popup-span{
    left: 15%;
    top: 15%;
    width: 70%;
    height: 40%;
}


.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.fade-out{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}